page-categories {
    .card-background-page {
        ion-card {
            padding: 10px;
            position: relative;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
            
            .heading {
                font-size: 30px !important;
                padding: 10px;
                text-align: center;
                font-family: 'Dancing Script', sans-serif;
            }
        }
    }
}
