page-manage-address {
	.card-background-page {
        ion-card {
            padding: 10px;
            position: relative;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
        }

        ion-input {
	    	border-bottom: 1px solid #1a1a1a;
	    }

	    ion-input:focus {
	    	border: none;
	    }
    }
}
