page-startup {
	#startup {
		color: #1a1a1a;
		// background: linear-gradient(180deg, #F2B632, #F25632);
		background: #1a1a1a !important;
		h1 {
			font-size: 75px;
			font-family: 'Dancing Script', sans-serif;
			margin-top: 50%;
			text-shadow: 0.5px 1.5px 2px #fff;
			text-align: center;
		}
		h3 {
			font-size: 35px;
			font-family: 'Dancing Script', sans-serif;
			text-align: center;			
		}
		#get-started {
			background-color: #555;
			border-radius: 20px !important;
		}
	}
	
}
