page-account {
    h1 {
        font-family: 'Dancing Script', sans-serif;
    }

    .profile-page {
        color: #fff !important;
    	background: linear-gradient(180deg, #F2B632, #F25632);
    	padding: 50px 10px 10px 25px;
    	text-align: center;
        font-family: 'Lato', sans-serif !important;
    }

    .box h2 {
    	font-family: 'Lato', sans-serif !important;
    }
}
